@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-display: fallback;
  src: url('../../assets/fonts/fraunces.woff2')
      format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-display: fallback;
  src: url('../../assets/fonts/barlow.woff2')
      format('woff2');
}

@font-face {
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url('../../assets/fonts/barlow-bold.woff2')
      format('woff2');
}
