@import './base/reset';
@import './base/typography';
@import './abstract/vars';
@import '../components/mobile-nav-modal/mobile-nav-modal';
@import '../components/mobile-header/mobile-header';
@import '../components/home-page/hero-section/_hero-styles';
@import '../components/home-page/collection-section/collection';
@import '../components/home-page/plan-section/plan';
@import '../components/footer/footer';
@import '../components/about-page/hero-section/hero-about';
@import '../components/about-page/commitment-section/commitment';
@import '../components/about-page/headquarter-section/headquarters';
@import '../components/about-page/quality-section/quality';
@import '../components/plan-page/hero-section/hero-plan';
@import '../components/plan-page/plan-section/plan-section';
@import '../components/plan-page/options-section/options';
@import '../components/plan-page/order-summary/order-summary';
@import '../components/utilities/create-plan-btn';


html {
  height: 100%;
}

body {
  height: 100%;
  width: 100vw;
  max-width: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.container {
  width: 88%;
  margin: auto;
}
