@import './base/reset';
@import './base/typography';
@import './abstract/vars';
@import '../sass/abstract/media-queries';
@import '../components/mobile-nav-modal/mobile-nav-modal.module';
@import '../components/footer/footer.module';
@import '../pages/home-page/hero-section/hero-styles.module';
@import '../pages/home-page/collection-section/collection.module';
@import '../pages/home-page/choose-us-section/choose-us.module';
@import '../pages/home-page/plan-section/plan.module';
@import '../pages/about-page/hero-section/hero-about.module';
@import '../pages/about-page/commitment-section/commitment.module';
@import '../pages/about-page/headquarter-section/headquarters.module';
@import '../pages/about-page/quality-section/quality.module';
@import '../pages/plan-page/hero-section/hero-plan.module';
@import '../pages/plan-page/plan-section/plan-section.module';
@import '../pages/plan-page/options-section/options.module';
@import '../pages/plan-page/aside-titles/aside-titles.module';
@import '../pages/plan-page/order-summary/order-summary.module';
@import '../pages/plan-page/order-modal/order-modal.module';

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100vw;
  max-width: 100%;
}

#root {
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

.App {
  height: 100%;
}

.container {
  width: 88%;
  margin: auto;

  @include desktopLg {
    width: 100%;
  }
}
