@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.qualitySection {
  width: 100%;
  margin: 62% auto 0 auto;
  background-color: $dark_grey_blue;
  border-radius: 0.8rem;
  margin-top: 11rem;

  @include mobileLg {
    margin-top: 13rem;
  }

  @media (min-width: 500px) {
    margin-top: 15rem;
  }

  @include tabletSm {
    margin-top: 17rem;
  }

  @include tabletMd {
    margin-top: 22rem;
  }

  @include laptop {
    display: flex;
    align-items: center;
    margin-top: 13rem;
  }

  @include desktopMd {
    margin-top: 17rem;
  }
}

.qualityImg {
  bottom: 20%;
  margin: auto;
  width: 90%;
  height: 100%;
  border-radius: 0.8rem;
  display: block;
  transform: translateY(-50%);

  @include laptop {
    width: 356px;
    transform: translateY(-32%);
  }

  @include desktopMd {
    width: 382px;
  }

  @include desktopXL {
    width: 420px;
  }
}

.qualityTitle {
  text-align: center;
  font-family: $title_font, serif;
  color: $bg_light_cream;
  font-size: 1.7rem;
  margin: 5rem 0 2rem 0;

  @include mobileSm {
    font-size: 2rem;
  }

  @include tabletMd {
    margin-bottom: 2rem;
  }

  @include laptop {
    font-size: 1.5rem;
    text-align: left;
  }
  @include laptopLg {
    font-size: 1.9rem;
  }

  @include desktopXL {
    font-size: 2rem;
  }
}

.qualityDescription {
  font-family: $description_font, sans-serif;
  color: $grey;
  line-height: 1.7rem;
  text-align: center;
  font-size: 1rem;
  width: 92%;
  text-align: center;
  display: block;
  margin: auto;
  padding-bottom: 4rem;

  @include mobileSm {
    width: 90%;
  }

  @include mobileI12Pro {
    width: 89%;
  }

  @include mobileXL {
    width: 89%;
  }

  @include tabletSm {
    line-height: 1.6rem;
  }

  @include laptop {
    text-align: left;
    font-size: 1rem;
    margin: 0;
  }

  @include desktop {
    line-height: 1.7rem;
  }

  @media (min-width: 1800px) {
    line-height: 1.9rem;
  }

  @include desktopXL {
    font-size: 1.1rem;
  }
}

.qualityTextBox {
  margin-top: -29%;

  @include laptop {
    margin-top: -16%;
    width: 81%;
  }
}

.qualityContainer {
  @include laptop {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 17rem;
    padding-top: 6rem;
  }

  @include desktopXL {
    height: 26rem;
    padding-top: 7rem;
  }
}
