@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.quality-section {
  width: 100%;
  margin: 13rem auto 0 auto;
  background-color: $dark_grey_blue;
  border-radius: 0.8rem;

  @include tabletMd {
    margin-top: 22rem;
  }

  @include laptop {
    display: flex;
    align-items: center;
    margin-top: 13rem;
  }

  @include desktopMd {
    margin-top: 17rem;
  }
}

.quality-img {
  bottom: 20%;
  margin: auto;
  width: 90%;
  height: 100%;
  border-radius: 0.8rem;
  display: block;
  transform: translateY(-50%);

  @include laptop {
    width: 100%;
    transform: translateY(-32%);
  }

  @include desktopMd {
    width: 86%;
  }

  @include desktopXL {
    width: 81%;
  }
}

.quality-title {
  text-align: center;
  font-family: $title_font, serif;
  color: $bg_light_cream;
  font-size: 1.7rem;
  margin: 5rem 0 2rem 0;

  @include mobileSm {
    font-size: 2rem;
  }

  @include tabletMd {
    margin-bottom: 2rem;
  }

  @include laptop {
    font-size: 1.5rem;
    text-align: left;
  }
  @include laptopLg {
    font-size: 1.9rem;
  }

  @include desktopXL {
    font-size: 2rem;
  }
}

.quality-description {
  font-family: $description_font, sans-serif;
  color: $grey;
  line-height: 1.7rem;
  text-align: center;
  font-size: 1rem;
  width: 92%;
  text-align: center;
  display: block;
  margin: auto;

  @include mobileSm {
    width: 90%;
    font-size: 1.1rem;
  }

  @include mobileI12Pro {
    width: 89%;
  }

  @include mobileXL {
    width: 89%;
  }

  @include tabletMd {
    padding-bottom: 2rem;
  }

  @include laptop {
    text-align: left;
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.6rem;
  }

  @include laptopLg {
    font-size: 1rem;
  }

  @include desktopXL {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.quality-text-box {
  transform: translateY(-20%);

  @include tabletMd {
    margin-top: -20%;
  }

  @include laptop {
    width: 81%;
    margin-top: 0;
  }
}

.quality-container {
  @include laptop {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 17rem;
    padding-top: 6rem;
  }

  @include desktopXL {
    height: 26rem;
    padding-top: 7rem;
  }
}
