@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.aboutCommitmentSection {
  width: 100%;
  margin: 9rem auto 0 auto;

  @include tabletMd {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    column-gap: 3.5rem;
  }

  @include desktopXL {
    margin-top: 11rem;
  }
}

.commitmentImg {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  max-width: 376px;
  margin: auto;
  display: block;
}

.commitmentTitle {
  text-align: center;
  font-family: $title_font, serif;
  color: $dark_grey_blue;
  font-size: 1.7rem;
  // margin: 5rem 0 3rem 0;
  margin: 5rem 0 1.5rem 0;

  @include mobileSm {
    font-size: 2rem;
  }

  @include tabletMd {
    margin: 1rem 0 1.3rem 0;
    text-align: left;
  }

  @include laptop {
    text-align: left;
  }

  @include desktopXL {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
}

.commitmentDescription {
  font-family: $description_font, sans-serif;
  color: $grey;
  line-height: 1.7rem;
  text-align: center;

  @include mobileSm {
    font-size: 1rem;
    width: 98%;
    margin: auto;
  }

  @include tabletSm {
    line-height: 1.6rem;
  }

  @include tabletMd {
    text-align: left;
    // font-size: 1rem;
  }

  @include laptop {
    margin: 0;
  }

  @include desktop {
    line-height: 1.7rem;
  }

  @media (min-width: 1800px) {
    line-height: 1.9rem;
  }

  @include desktopXL {
    font-size: 1.1rem;
  }
}

.aboutCommitmentTextBox {
  @include laptop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
