@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.heroAboutSection {
  width: 100%;
  height: 29.1rem;
  margin: auto;
  position: relative;
}

.heroAbout {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}

.aboutUsTitle {
  font-family: $title_font, serif;
  font-size: 2.2rem;
  color: $bg_light_cream;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;

  @include mobileSm {
    font-size: 2.5rem;
  }

  @include tabletMd {
    text-align: left;
    margin-bottom: 1rem;
  }

  @include desktopXL {
    font-size: 3.2rem;
  }
}

.aboutUsDescription {
  width: 92%;
  font-family: $description_font, sans-serif;
  color: #bdbdbd;
  line-height: 1.7rem;
  text-align: center;
  margin: auto;

  @include mobileSm {
    top: 57%;
    width: 90%;
  }

  @include mobileLg {
    width: 88%;
    font-size: 1.1rem;
    max-width: 445px;
  }

  @include mobileI12Pro {
    top: 54%;
  }

  @include tabletSm {
    line-height: 1.8rem;
  }

  @include tabletMd {
    text-align: left;
    margin: 0;
    max-width: 100%;
  }

  @include laptop {
    width: 74%;
  }

  @include laptopLg {
    width: 62%;
  }

  @include desktop {
    width: 57%;
  }

  @include desktopXL {
    font-size: 1.3rem;
    line-height: 1.9rem;
    width: 59%;
  }
}

.aboutHeroTextBox {
  position: absolute;
  top: 26%;
  left: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include tabletMd {
    text-align: left;
    top: 30%;
    left: 5%;
    width: 75%;
  }
}
