@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.hero-about-section {
  width: 100%;
  height: 29.1rem;
  margin: auto;
  position: relative;
}

.hero-about {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}

.about-us-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $title_font, serif;
  font-size: 2.2rem;
  color: $bg_light_cream;
  text-transform: capitalize;
  width: 100%;
  text-align: center;

  @include mobileSm {
    font-size: 2.5rem;
  }
}

.about-us-description {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  font-family: $description_font, sans-serif;
  color: #bdbdbd;
  line-height: 1.7rem;
  text-align: center;

  @include mobileSm {
    width: 90%;
  }

  @include mobileLg {
    width: 88%;
    font-size: 1.1rem;
  }
}
