@import '../../../sass/abstract/vars';

.hero-about-section {
  width: 100%;
  margin: auto;
  position: relative;
}

.hero-about {
  width: 100%;
  height: 100%;
  border-radius: .8rem;
}

.about-us-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $title_font, serif;
  font-size: 2rem;
  color: $bg_light_cream;
  text-transform: capitalize;
}

.about-us-description {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88%;
  font-family: $description_font, sans-serif;
  color: #bdbdbd;
  line-height: 1.7rem;
  text-align: center;
}
