@import '../../../sass/abstract/vars';

.options-section {
  margin-top: 8rem;
}

.option-container {
  position: relative;
  margin-top: 7rem;
}

.option-title-question {
  color: $grey;
  font-family: $title_font, serif;
  width: 68%;
  display: inline-block;
  line-height: 1.9rem;
}

.options-container {
  margin-top: 2rem;
  position: relative;
  display: none;
}

.arrow {
  transform: translateX(78px);
}

.option-box {
  background-color: #e9e9e9;
  border-radius: .8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  color: $dark_grey_blue;

}

.option-title {
  padding: 0 0 1rem 1rem;
  font-family: $title_font, serif;
  font-size: 1.6rem;
}

.option-description {
  font-size: 1.1rem;
  font-family: $description_font;
  line-height: 1.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.active {
  background-color: $dark_cyan;
  color: $bg_light_cream;
}

.create-plan-order-container {
  width: 100%;
}

.create-plan-order {
  color: $bg_light_cream;
  text-align: center;
  background-color: $dark_cyan;
  outline: 0;
  border: 0;
  text-transform: capitalize;
  padding: 1.2rem 1.3rem;
  font-family: $title_font, sans-serif;
  font-size: 1.2rem;
  width: 59%;
  border-radius: 10px;
  margin: 5rem auto 7rem auto;
  display: block;
}

.show-option {
  display: block;
}

.toggle-arrow {
  transform: scaleY(-1) translateX(78px);
}

.hide {
  display: none;
}
