.mobile-header {
  display: flex;
  justify-content: space-between;
  width: 88%;
  padding: 2rem 0;
  margin: auto;
}

.hamburger-menu {
  width: 1.4rem;
}

.mobile-logo {
  width: 55%;
}

.show-page {
  display: block;
}
