@import '../../../sass/abstract/vars';

.about-commitment-section {
  width: 100%;
  margin: 9rem auto 0 auto;
}

.commitment-img {
  width: 100%;
  height: 100%;
  border-radius: .8rem;
}

.commitment-title {
  text-align: center;
  font-family: $title_font, serif;
  color: $dark_grey_blue;
  font-size: 2rem;
  margin: 5rem 0 3rem 0;
}

.commitment-description {
  font-family: $description_font, sans-serif;
  color: $grey;
  line-height: 1.7rem;
  text-align: center;
}
