@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.headquartersSection {
  margin: 9rem auto;
  width: 88%;
  max-width: 1200px;
}

.headquartersTitle {
  color: $pale_orange;
  font-family: $title_font, serif;
  text-align: center;
  font-size: 1.7rem;

  @include tabletMd {
    text-align: left;
  }

  @include desktopXL {
    font-size: 1.8rem;
  }
}

.countryIcons {
  margin: 5rem auto 3.5rem auto;
  display: block;
  width: 16%;

  @include tabletMd {
    margin: 5rem 0 3.5rem 0;
    width: 20%;
  }

  @include laptop {
    width: 48px;
  }
}

.addressContainer:nth-of-type(1) img {
  @include tabletMd {
    margin: 5rem 0 2.9rem 0;
  }

  @include laptop {
    width: 52px;
    margin-bottom: 41px;
  }
}

.countryTitle {
  color: white;

  text-align: center;
  font-size: 1.7rem;
  font-family: $title_font, serif;
  text-transform: capitalize;

  @include tabletMd {
    text-align: left;
    font-size: 1.3rem;
  }

  @include desktopXL {
    font-size: 1.5rem;
  }
}

.addressTextBox {
  margin-top: 2.5rem;
}

.addressText {
  display: block;
  text-align: center;
  font-family: $description_font;
  color: white;
  font-size: 1.2rem;
  padding-bottom: 0.7rem;

  @include tabletMd {
    text-align: left;
  }

  @include desktopXL {
    font-size: 1.4rem;
  }
}

.addressTextBox span:nth-of-type(3) {
  padding-bottom: 0.8rem;
}

.addressBoxContainer {
  @include tabletMd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
