@import '../../../sass/abstract/vars';

.hero-section {
  width: 100%;
  height: 36rem;
  position: relative;
}

.hero {
  width: 100%;
  height: 100%;
  border-radius: .8rem;
}

.centered-text-top  {
  font-family: $title_font, sans-serif;
  color: $bg_light_cream;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

.centered-text-bottom  {
  font-family: $title_font, sans-serif;
  color: $bg_light_cream;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

.hero-description {
  font-family: $description_font, serif;
  position: absolute;
  color: $grey;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 94%;
  line-height: 1.9rem;
  font-weight: bold;
}

.create-plan-btn {
  position: absolute;
  color: $bg_light_cream;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: $dark_cyan;
  outline: 0;
  border: 0;
  text-transform: capitalize;
  padding: 1.2rem 1.3rem;
  font-family: $title_font, sans-serif;
  font-size: 1.2rem;
  width: 59%;
  border-radius: 10px;
}

.create-plan-btn a {
  color: $bg_light_cream;
  text-decoration: none;;
}
