@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.hero-section {
  width: 100%;
  height: 36rem;
  position: relative;
}

.hero {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}

.centered-text-top {
  font-family: $title_font, serif;
  font-size: 2.2rem;
  color: $bg_light_cream;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  width: 100%;
  text-align: center;

  @include mobileSm {
    font-size: 2.5rem;
  }
}

.centered-text-bottom {
  font-family: $title_font, serif;
  color: $bg_light_cream;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-size: 2.2rem;
  width: 100%;
  text-align: center;

  @include mobileSm {
    font-size: 2.5rem;
    top: 33%;
  }
}

.hero-description {
  font-family: $description_font, sans-serif;
  position: absolute;
  color: $grey;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 88%;
  line-height: 1.9rem;
  font-weight: bold;

  @include mobileLg {
    width: 85%;
    font-size: 1.1rem;
  }
}
