@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.collectionSection {
  margin-top: 9rem;
}

.collectionHeaderText {
  text-align: center;
  font-family: $title_font, serif;
  font-size: 2.5rem;
  background: linear-gradient(to bottom, #333d4b 0%, #ffffff 88%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include tabletMd {
    font-size: 5.6rem;
  }
}

.coffeeBox {
  margin-top: 4.5rem;
  width: 100%;

  @include tabletMd {
    display: flex;
  }

  @include laptop {
    flex-direction: column;
  }
}

.coffeeImgContainer {
  width: 100%;
}

.coffeeImg {
  width: 60%;
  margin: auto;
  display: block;
  max-width: 300px;

  @include laptop {
    width: 72%;
  }
}

.coffeeTitle {
  margin-top: 2.5rem;
  text-align: center;
  font-family: $title_font, serif;
  color: $dark_grey_blue;
  text-transform: capitalize;
  font-size: 1.7rem;

  @include tabletMd {
    text-align: left;
    margin-top: 1.2rem;
  }

  @include laptop {
    text-align: center;
    font-size: 1.3rem;
  }

  @include desktopXL {
    font-size: 1.5rem;
  }
}

.coffeeDescription {
  margin: 1.5rem auto 0 auto;
  text-align: center;
  font-family: $description_font, sans-serif;
  line-height: 1.9rem;
  font-size: 1rem;
  color: $dark_grey_blue;
  width: 100%;
  max-width: 420px;

  @include mobileSm {
    width: initial;
    font-size: 1.1rem;
  }

  @include tabletMd {
    text-align: left;
  }

  @include laptop {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.7rem;
  }

  @include laptopLg {
    font-size: 1rem;
  }

  @include desktopXL {
    font-size: 1.2rem;
  }
}

.coffeeTypesContainer {
  @include tabletMd {
    position: relative;
    top: -6.5rem;
  }

  @include laptop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }
}

.coffeeTypeTextBox {
  @include tabletMd {
    margin-right: 5rem;
  }

  @include laptop {
    margin-right: 0;
  }
}
