@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.choose-us-section {
  margin-top: 7rem;
  padding: 1rem;
  background-color: $dark_grey_blue;
  border-radius: 0.8rem;
}

.choose-title {
  text-align: center;
  color: $bg_light_cream;
  font-family: $title_font, serif;
  padding: 4rem 0 2rem 0;
  font-size: 1.7rem;
}

.choose-description {
  font-family: $description_font, sans-serif;
  color: $grey;
  text-align: center;
  line-height: 1.8rem;
  width: 100%;
  margin: auto;

  @include tabletMd {
    width: 80%;
  }

  @include laptop {
    width: 64%;
  }
}

.perks-bg {
  background-color: $dark_grey_blue;
  width: 100%;
  height: 37.5rem;

  @include tabletMd {
    height: 21.5rem;
  }

  @include laptop {
    height: 12.3rem;
  }
}

.perk-box:nth-of-type(1) {
  margin-top: 4rem;

  @include laptop {
    margin-top: 4rem;
  }
}

.perk-box {
  width: 95%;
  margin: 1.5rem auto 0 auto;
  background-color: $dark_cyan;
  border-radius: 0.8rem;

  @include mobileSm {
    width: 88%;
  }

  @include laptop {
    margin-top: 4rem;
  }
}

.perk-icon {
  margin: auto;
  display: block;
  padding: 3.5rem 0;

  @include laptop {
    width: 26%;
    padding: 2.5rem 0;
  }
}

.perk-title {
  text-align: center;
  color: $bg_light_cream;
  font-family: $title_font, serif;
  font-size: 1.3rem;

  @include mobileSm {
    font-size: 1.5rem;
  }

  @include tabletMd {
    text-align: left;
  }

  @include laptop {
    text-align: center;
    font-size: 1rem;
  }
}

.perk-description {
  text-align: center;
  color: $bg_light_cream;
  font-family: $description_font, sans-serif;
  padding: 2rem 0 2.5rem 0;
  line-height: 1.8rem;
  margin: auto;
  hyphens: auto;
  width: 86%;

  @include mobileLg {
    width: 76%;
  }

  @include tabletMd {
    text-align: left;
    margin: 0;
    width: 90%;
    padding-top: 1rem;
  }

  @include laptop {
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding-bottom: 2rem;
  }
}

.exclusive-padding {
  padding: 1.3rem;
  padding-bottom: 2.5rem;
}

.spacer {
  width: 100%;
  height: 36rem;

  @include tabletMd {
    height: 21rem;
  }

  @include laptop {
    height: 12rem;
  }
}

.perk-inner-box {
  @include tabletMd {
    display: flex;
    align-items: flex-end;
    width: 80%;
    margin: auto;
    justify-content: center;
  }

  @include laptop {
    flex-direction: column;
  }
}

.perk-box:nth-of-type(3) div {
  @include laptop {
    margin-top: 4%;
  }
}

.perk-text-box {
  @include tabletMd {
    width: 82%;
    position: relative;
    left: 4rem;
    align-items: center;
  }

  @include laptop {
    left: 0;
    margin: auto;
    width: 100%;
  }
}

.perks-container {
  @include laptop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
  }
}
