@import '../../../sass/abstract/vars';

.choose-us-section {
  margin-top: 7rem;
  padding: 1rem;
  background-color: $dark_grey_blue;
  border-radius: .8rem;
}

.choose-title {
  text-align: center;
  color: $bg_light_cream;
  font-family: $title_font, serif;
  padding: 4rem 0 2rem 0;;
  font-size: 1.7rem;
}

.choose-description {
  font-family: $description_font, sans-serif;
  color: $grey;
  text-align: center;
  line-height: 1.8rem;
}

.perks-bg {
  background-color: $dark_grey_blue;
  width: 100%;
  height: 37.5rem;
}

.perk-box:nth-of-type(1) {
  margin-top: 4rem;
}

.perk-box {
  width: 88%;
  margin: 1.5rem auto 0 auto;
  background-color: $dark_cyan;
  border-radius: .8rem;
}

.perk-icon {
  margin: auto;
  display: block;
  padding: 4.5rem 0;
}

.perk-title {
  text-align: center;
  color: $bg_light_cream;
  font-family: $title_font, serif;
  font-size: 1.5rem;
}

.perk-description {
  text-align: center;
  color: $bg_light_cream;
  font-family: $description_font, sans-serif;
  padding: 2rem;
  padding-bottom: 2.5rem;
  line-height: 1.8rem;
}

.exclusive-padding {
  padding: 1.3rem;
  padding-bottom: 2.5rem;
}

.spacer {
  width: 100%;
  height: 36rem;
}
