// fonts
$title_font: 'Fraunces';
$description_font: 'Barlow';
$description_font_bold: 'Barlow-Bold';
$backup_title: 'serif';
$backup_description_bold: 'sans-serif';

// colors
$dark_cyan: #0e8784;
$dark_grey_blue: #333d4b;
$pale_orange: #fdd6ba;
$bg_light_cream: #f3fcf7;
$grey: #83888f;
