@import '../../../sass/abstract/vars';

.hero-plan-section {
  width: 100%;
  margin: auto;
  position: relative;
}

.hero-plan {
  width: 100%;
  height: 100%;
  border-radius: .8rem;
}

.plan-title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $title_font, serif;
  font-size: 2.4rem;
  color: $bg_light_cream;
  text-transform: capitalize;
}

.plan-description {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  font-family: $description_font, sans-serif;
  color: #bdbdbd;
  line-height: 1.7rem;
  text-align: center;
}
