@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.heroPlanSection {
  width: 100%;
  height: 29.1rem;
  margin: auto;
  position: relative;
}

.heroPlan {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
  position: relative;
}

.planTitle {
  width: 100%;
  text-align: center;
  font-family: $title_font, serif;
  font-size: 2rem;
  color: $bg_light_cream;
  text-transform: capitalize;
  padding-bottom: 1rem;

  @include mobileSm {
    font-size: 2.4rem;
  }

  @include tabletMd {
    text-align: left;
    padding-bottom: 1rem;
  }

  @include desktopXL {
    font-size: 3.2rem;
  }
}

.planDescription {
  text-align: center;
  font-family: $description_font, sans-serif;
  color: #bdbdbd;
  line-height: 1.7rem;
  width: 93%;
  margin: auto;
  max-width: 445px;

  @include mobileSm {
    top: 51%;
    font-size: 1.1rem;
  }

  @include tabletMd {
    text-align: left;
    width: 87%;
    margin: 0;
  }

  @include laptop {
    width: 75%;
  }

  @include laptopLg {
    width: 53%;
  }

  @include desktop {
    width: 56%;
  }

  @include desktopXL {
    font-size: 1.3rem;
    line-height: 1.9rem;
    width: 53%;
  }
}

.planHeroTextBox {
  position: absolute;
  top: 26%;
  left: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include tabletMd {
    text-align: left;
    top: 30%;
    left: 5%;
    width: 75%;
  }
}
