@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.hero-plan-section {
  width: 100%;
  height: 29.1rem;
  margin: auto;
  position: relative;
}

.hero-plan {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
  position: relative;
}

.plan-title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $title_font, serif;
  font-size: 2rem;
  color: $bg_light_cream;
  text-transform: capitalize;

  @include mobileSm {
    font-size: 2.4rem;
  }
}

.plan-description {
  position: absolute;
  top: 52%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: $description_font, sans-serif;
  color: #bdbdbd;
  line-height: 1.7rem;
  width: 93%;

  @include mobileSm {
    top: 51%;
    font-size: 1.1rem;
  }
}
