@import '../../../sass/abstract/vars';

.order-container {
  background-color: $dark_grey_blue;
  padding: 4rem 1.4rem;
  border-radius: .8rem;
  margin-top: 7rem;
}

.order-summary-title {
  color: $grey;
  text-transform: uppercase;
  font-family: $description_font, sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.order-summary-text {
  color: $bg_light_cream;
  font-family: $title_font, serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.create-plan-order-container {
  margin: 4rem 0 7rem 0;
}

.order-text {
  color: $dark_cyan;
}
