@import '../../../sass/abstract/vars';
@import '../../../sass/abstract/media-queries';

.orderContainer {
  background-color: $dark_grey_blue;
  padding: 4rem 1.4rem;
  border-radius: 0.8rem;
  margin-top: 7rem;

  @include laptop {
    width: 74%;
    margin-left: auto;
  }
}

.summaryTitleBox {
  width: 98%;
  margin: auto;

  @include mobileSm {
    width: 92%;
  }
}

.orderSummaryTitle {
  color: $grey;
  text-transform: uppercase;
  font-family: $description_font, sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;

  @include desktopXL {
    font-size: 1.3rem;
    padding-bottom: 0.6rem;
  }
}

.orderSummaryText {
  color: $bg_light_cream;
  font-family: $title_font, serif;
  font-size: 1.4rem;
  line-height: 2.6rem;
  width: 98%;
  margin: auto;

  @include mobileSm {
    width: 92%;
  }

  @include tabletMd {
    font-size: 1.6rem;
  }

  @include desktopXL {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.createPlanOrderContainer {
  margin: 4rem 0 7rem 0;

  @include laptop {
    margin: 0;
  }
}

.orderText {
  color: $dark_cyan;
}

.spanText {
  color: $bg_light_cream;
}

.coloredLine {
  background: $dark_cyan;
  width: 20%;
  height: 3px;
  display: inline-block;

  @include tabletSm {
    width: 10%;
  }
}

.orderSummaryTextBox {
  @include desktopXL {
    padding: 0.5rem 2rem;
  }
}
