@import '../../sass/abstract/vars';
@import '../../sass/abstract/media-queries';

.footer {
  margin: 0 auto;
  width: 100%;
  background-color: $dark_grey_blue;
}

.footerNav {
  list-style: none;
}

.footerNav {
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: $description_font, sans-serif;

  @include tabletMd {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.9rem;
  }
}

.footerNavLink {
  color: $grey;
  text-transform: uppercase;
  padding: 1rem 0;
  text-decoration: none;
  display: block;

  @include laptop {
    font-size: 0.7rem;
  }

  @include desktopXL {
    font-size: 0.9rem;
  }
}

.footerLogo {
  width: 62%;
  margin: auto;
  padding: 2.5rem 0;
  display: block;
  max-width: 263px;

  @include tabletMd {
    width: 34%;
    padding-bottom: 1rem;
  }

  @include laptop {
    padding: 0;
    width: 40%;
  }
}

.socialIconsBox {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 2.1rem 0;

  @include tabletMd {
    justify-content: space-evenly;
    width: 28%;
  }
}

.footerContainer {
  @include laptop {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 2rem 0;
  }
}

.logoLinksBox {
  @include laptop {
    width: 55%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }
}

.mobileFooterLogo {
  @include laptop {
    width: 1.3rem;
  }

  @include desktopXL {
    width: 1.7rem;
  }
}
