.mobile-nav-page {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  // display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
}

.mobile-page-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.mobile-nav-logo {
  width: 53%;
}

.mobile-close {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 3px;
}

.mobile-nav {
  margin-top: 3rem;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  font-family: $title_font, serif;
}

.mobile-nav-links {
  display: block;
  text-decoration: none;
  color: $dark_grey_blue;
  text-transform: capitalize;
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
}
