@import '../../sass/abstract/vars';
@import '../../sass/abstract/media-queries';

.mobileNavPage {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181a1b;
}

.mobilePageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 0;
}

.mobileLogo {
  width: 50px;

  @include laptopLg {
    width: 70px;
  }
}

.logoText {
  font-size: 1.2rem;
  font-family: $title_font;
  color: white;

  @include laptopLg {
    font-size: 1.7rem;
  }

  @include desktop {
    font-size: 2.3rem;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
}

.mobileNavLogo {
  width: 55%;
}

.mobileClose {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
}

.mobileNav {
  margin-top: 3rem;
}

.mobileNavList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  font-family: $title_font, serif;
}

.mobileNavLinks {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
}

.hide {
  display: none;
}
